/*
(c)  Crown copyright
 
You may use and re-use this code free of charge under the terms of the Open Government Licence v3.0
 
http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3

*/

*[data-x-extent]::before {
	display: inline-block;
	position: absolute;
	right: 2em;
	background-color: #660066;
	border-radius: 10px;
	padding: 3px 9px;
	color: white;
	content: attr(data-x-extent)
}
