/*
©  Crown copyright
 
You may use and re-use this code free of charge under the terms of the Open Government Licence
 
http://www.nationalarchives.gov.uk/doc/open-government-licence/

*/
/* CSS for explanatory notes as part of the XML schema XHTML output */

.ENClearFix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.ENClearFix {display: inline-block;}
/* Hides from IE-mac \*/
* html .ENClearFix {height: 1%;}
.ENClearFix {display: block;}
/* End hide from IE-mac */

/* ===== Legislation clear fix classes, required by TSO_legislation_core_chunker_xml.xslt ====== */
.LegClearFix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.LegClearFix {display: inline-block;}
/* Hides from IE-mac \*/
* html .LegClearFix {height: 1%;}
.LegClearFix {display: block;}
/* End hide from IE-mac */


/* ========== Headings =============== */

.LegSnippet * {font-family: arial, helvetica, verdana, sans-serif; letter-spacing: 0em}
.LegSnippet p {color: black; background-color: white; line-height: normal}
.LegSnippet div {color: black; background-color: white; font-size: 100%}
.LegSnippet ol {font-size: 100%}
.LegSnippet li {font-size: 100%}
.LegSnippet a {font-size: 100%}
.LegSnippet h1 {color: black; background-color: white; font-size: 1em; line-height: 1.2em; font-weight: normal; font-style: normal}
.LegSnippet h2 {color: black; background-color: white; font-size: 1em; line-height: 1.2em; font-weight: normal; font-style: normal}
.LegSnippet h3 {color: black; background-color: white; font-size: 1em; line-height: 1.2em; font-weight: normal; font-style: normal}
.LegSnippet h4 {color: black; background-color: white; font-size: 1em; line-height: 1.2em; font-weight: normal; font-style: normal}
.LegSnippet h5 {color: black; background-color: white; font-size: 1em; line-height: 1.2em; font-weight: normal; font-style: normal}
.LegSnippet h6 {color: black; background-color: white; font-size: 1em; line-height: 1.2em; font-weight: normal; font-style: normal}


.LegSnippet .LegTerm {color:red}

/* ========== Preliminary matter ========== */


.LegSnippet .DocContainer {float: left; width: 100%;}
/* This is to sort a problem in IE */
* html .LegSnippet .DocContainer {float: left; width: 99%;}

.LegSnippet p { font-size: 0.8em; margin-bottom: 0.5em; margin-top: 0em; padding: 0em; font-style: normal; font-weight: normal;}
.LegSnippet div {margin: 0em; padding: 0em;font-size:100%}
.LegSnippet .ENDS {display: block;}

.LegSnippet .ENPrelims {text-align: center; margin: 0px auto;}

.LegSnippet .ENBanner {text-transform: uppercase; letter-spacing: 0.5em; border-top: solid 1px black; border-bottom: solid 1px black; padding: 0.5em; font-size: 1em; margin-top: 2em; margin-bottom: 2em;}

.LegSnippet .ENNo {font-size: 1em; margin-top: 0em; margin-bottom: 1em; padding: 0em; font-weight: bold;}
/* .LegSnippet .ENNoASP {text-transform: lowercase;} */
.LegSnippet .ENNo strong {font-weight: normal;}
.LegSnippet .ENSubject {text-transform: uppercase; font-size: 1.5em; margin-top: 0em; margin-bottom: 1em; padding: 0em;}
.LegSnippet .ENTitle {padding: 0em; text-align: center; margin-bottom: 1em; font-size: 1.5em; font-weight: bold; margin-top: 1em;}


.LegSnippet .ENLongTitle {text-align: justify; clear: both;}

.LegSnippet .ENApproved {font-style: italic;}
.LegSnippet .ENApproved em {font-style: normal;}

.LegSnippet .ENDate {clear: left; text-align: center; width: 70%; margin: 0px auto;}
.LegSnippet .ENDateText {float: left; margin-top: 0em; margin-bottom: 1em; width: 58%; text-align: left;}
.LegSnippet .ENDateDate {float: right; margin-top: 0em; margin-bottom: 1em; width: 38%; text-align: right;}

.LegSnippet p.ENLongTitle {margin-top: 1em; text-align: justify; margin-bottom: 0em; padding-bottom: 0em;}
.LegSnippet p.ENDateOfEnactment {margin-top: 0em; text-align: right; padding-bottom: 1em;}
.LegSnippet .ENLongTitleScottish {margin-top: 0em; text-align: justify; margin-bottom: 0em;}
.LegSnippet .ENDateOfEnactmentScottish {margin-top: 1em; text-align: justify; margin-bottom: 1em; font-weight: bold;}
.LegSnippet .ENDateOfEnactmentScottish strong {font-weight: normal;}
.LegSnippet .ENIntroductoryText {margin-top: 1em; text-align: justify; margin-bottom: 0em;}
.LegSnippet .ENEnactingText {margin-top: 1em; text-align: justify; margin-bottom: 2em;}

/* ========== TOCs ========== */
.LegSnippet .ENContents {text-align: left;}
.LegSnippet .ENContents .ENContentsHeading {font-weight:bold; text-transform:uppercase; margin-left:2.5em;clear:both;font-size:1.35em; font-weight: 600;padding-bottom:0.8em;padding-top:2em;text-align:center;
text-transform:uppercase;}
.LegSnippet .ENContents ol {list-style-type: none; padding-left: 6.5em; margin-left: 0em; background: transparent url(/images/chrome/legTocBg.gif) repeat-y 32px;}
.LegSnippet .ENContents ol ol {margin-left: 3.5%; padding-left: 0; background: none;}
.LegSnippet .ENContents .ENNo {text-align: center;}
.LegSnippet .ENContents .ENContentsDivision .ENContentsTitle {margin-top:0.5em; text-transform: uppercase;}
.LegSnippet .ENContents .ENContentsAnnex .ENContentsTitle {margin-top:0.5em; text-transform: uppercase;}
.LegSnippet .ENContents .ENContentsCommentary .ENContentsTitle {margin-top:0em; text-transform: capitalize;}
.LegSnippet .ENContents .ENContentsSubDivision .ENContentsTitle {margin-top:0em; text-transform:none;}
.LegSnippet .ENContents .ENContentsSubSubDivision .ENContentsTitle {margin-top:0em; text-transform:none;}
.LegSnippet .ENContents .ENContentsSubSubSubDivision .ENContentsTitle {margin-top:0em; text-transform:none;}

.LegSnippet .ENContents .ENContentsCommentaryGroup .ENContentsTitle {margin-top:0em; text-transform:none;}
.LegSnippet .ENContents .ENContentsCommentaryPart .ENContentsTitle {margin-top:0em; text-transform:none;}
.LegSnippet .ENContents .ENContentsCommentaryChapter .ENContentsTitle {margin-top:0em; text-transform:none;}
.LegSnippet .ENContents .ENContentsCommentaryP1 .ENContentsTitle {margin-top:0em; text-transform:none;}
.LegSnippet .ENContents .ENContentsCommentarySchedule .ENContentsTitle {margin-top:0em; text-transform:none;}
.LegSnippet .ENContents .ENContentsCommentaryDivision .ENContentsTitle {margin-top:0em; text-transform:none;}
.LegSnippet .ENContents .ENContentsCommentarySubDivision .ENContentsTitle {margin-top:0em; text-transform:none;}

/* ========== Headings ========== */
.LegSnippet .ENDivTitle {clear: both; position: relative; padding: 0em; padding-top: 0.5em; text-align: center; margin-top: 0.5em; margin-bottom:0.5em; font-variant: small-caps;}
.LegSnippet .ENSubTitle {clear: both; font-size: 95%; padding: 0em; padding-top: 0.5em; text-align: center;  font-style:italic; margin-top: 0.5em; margin-bottom:0.5em; }
.LegSnippet .ENSubSubTitle {clear: both; font-size: 90%; padding: 0em; padding-top: 0.5em;text-align: center;  margin-top: 0.5em; margin-bottom:0.5em; font-variant: small-caps;}
.LegSnippet .ENSubSubSubTitle {clear: both; font-size: 85%; padding: 0em; padding-top: 0.5em;text-align: center; font-style:italic; margin-top: 0.5em; margin-bottom:0.5em;  text-transform: capitalize;}
.LegSnippet .ENCommentaryPart {clear: both; padding: 0em; padding-top: 0.5em; text-align: center; margin-top: 0.5em; margin-bottom:0.5em; font-weight: normal; font-variant: small-caps;}
.LegSnippet .ENCommentaryChapter {clear: both; font-size: 90%; padding: 0em; padding-top: 0.5em; text-align: center; font-weight: bold; margin-top: 0.5em; margin-bottom:0.5em; font-variant: small-caps; font-weight: normal;}
.LegSnippet .ENCommentaryP1 {clear: both;  font-size: 80%; padding: 0em; padding-top: 0.5em; text-align: left; font-weight: bold; margin-top: 0.5em; margin-bottom:0.5em;}
.LegSnippet .ENCommentaryGroup {clear: both; padding: 0em; padding-top: 0.5em; text-align: center;  margin-top: 0.5em; margin-bottom:0.5em; font-weight: normal; font-variant: small-caps;}
.LegSnippet .ENCommentaryDivision {clear: both; font-size: 80%; padding: 0em; padding-top: 0.5em; text-align: center;  font-style:italic; margin-top: 0.5em; margin-bottom:0.5em;}
.LegSnippet .ENCommentarySubDivision {clear: both; padding: 0em; padding-top: 0.5em; text-align: center;  font-size: 80%; margin-top: 0.5em; margin-bottom:0.5em; font-weight: normal; font-variant: small-caps;}
.LegSnippet .ENCommentarySchedule {clear: both; font-size: 90%; padding: 0em; padding-top: 0.5em; text-align: center; margin-top: 0.5em; margin-bottom:0.5em; font-weight: normal; font-variant: small-caps;}


.LegSnippet .ENLegSchedule {font-size: 1em; margin-top: 0em; margin-bottom: 1em; padding: 0em;}
.LegSnippet .ENLegScheduleFirst {font-size: 1em; margin-top: 0em; margin-bottom: 1em; padding: 0em;}
.LegSnippet .ENLegGroup {font-size: 1em; margin-top: 0em; margin-bottom: 1em; padding: 0em;}
.LegSnippet .ENLegGroupFirst {font-size: 1em; margin-top: 0em; margin-bottom: 1em; padding: 0em;}
.LegSnippet .ENLegScheduleGroup {font-size: 1em; margin-top: 0em; margin-bottom: 1em; padding: 0em;}
.LegSnippet .ENLegScheduleGroupFirst {font-size: 1em; margin-top: 0em; margin-bottom: 1em; padding: 0em;}
.LegSnippet .ENLegPart {font-size: 1em; margin-top: 0em; margin-bottom: 1em; padding: 0em;}
.LegSnippet .ENLegPartFirst {font-size: 1em; margin-top: 0em; margin-bottom: 1em; padding: 0em;}
.LegSnippet .ENLegSchedulePart {font-size: 1em; margin-top: 0em; margin-bottom: 1em; padding: 0em;}
.LegSnippet .ENLegSchedulePartFirst {font-size: 1em; margin-top: 0em; margin-bottom: 1em; padding: 0em;}
.LegSnippet .ENLegChapter {font-size: 1em; margin-top: 0em; margin-bottom: 1em; padding: 0em;}
.LegSnippet .ENLegChapterFirst {font-size: 1em; margin-top: 0em; margin-bottom: 1em; padding: 0em;}
.LegSnippet .ENLegScheduleChapter {font-size: 1em; margin-top: 0em; margin-bottom: 1em; padding: 0em;}
.LegSnippet .ENLegScheduleChapterFirst {font-size: 1em; margin-top: 0em; margin-bottom: 1em; padding: 0em;}
.LegSnippet .ENLegPblock {font-size: 1em; margin-top: 0em; margin-bottom: 1em; padding: 0em;}
.LegSnippet .ENLegPblockFirst {font-size: 1em; margin-top: 0em; margin-bottom: 1em; padding: 0em;}
.LegSnippet .ENLegSchedulePblock {font-size: 1em; margin-top: 0em; margin-bottom: 1em; padding: 0em;}
.LegSnippet .ENLegSchedulePblockFirst {font-size: 1em; margin-top: 0em; margin-bottom: 1em; padding: 0em;}
.LegSnippet .ENLegPsubBlock {font-size: 1em; margin-top: 0em; margin-bottom: 1em; padding: 0em;}
.LegSnippet .ENLegPsubBlockFirst {font-size: 1em; margin-top: 0em; margin-bottom: 1em; padding: 0em;}
.LegSnippet .ENLegSchedulePsubBlock {font-size: 1em; margin-top: 0em; margin-bottom: 1em; padding: 0em;}
.LegSnippet .ENLegSchedulePsubBlockFirst {font-size: 1em; margin-top: 0em; margin-bottom: 1em; padding: 0em;}
.LegSnippet .ENLegForm {font-size: 1em; margin-top: 0em; margin-bottom: 1em; padding: 0em;}
.LegSnippet .ENLegFormFirst {font-size: 1em; margin-top: 0em; margin-bottom: 1em; padding: 0em;}

.LegSnippet .ENLegSchedulesTitle {clear: both; text-align: center; font-size: 1.2em; font-weight: normal; padding-top: 3em; padding-bottom: 2em;}
.LegSnippet .ENLegSchedulesTitleC1Amend {clear: both; text-align: center; font-size: 1.2em; font-weight: normal; padding-top: 3em; padding-bottom: 2em; margin-left: 10%;}
.LegSnippet .ENLegScheduleNo {clear: both; display: block; text-align: center; font-size: 0.9em; font-weight: normal; margin-bottom: 0.25em; padding-top: 0.5em; font-variant: small-caps;}
.LegSnippet .ENLegScheduleNoC1Amend {clear:both; display: block; text-align: center; font-size: 0.9em; font-weight: normal; margin-bottom: 0.25em; margin-left: 10%;}
.LegSnippet .ENLegTitleBlockTitle {clear: both; display: block; text-align: center; font-size: 0.9em; font-weight: normal; font-variant: small-caps;}
.LegSnippet .ENTitleBlockTitle {clear: both; display: block; text-align: center; font-size: 1em; padding-top: 1em; font-weight: normal; font-variant: small-caps;}


.LegSnippet .ENGroupNo {display: block; text-align: center; font-size: 1em; font-weight: bold; font-variant: small-caps; margin-bottom: 0.25em;}
.LegSnippet .ENGroupTitle {display: block; text-align: center; font-size: 1em; font-weight: normal; font-variant: small-caps; margin-bottom: 0.25em;}
.LegSnippet .ENGroupNo strong {font-weight: normal;}

.LegSnippet .ENLegScheduleGroup .ENGroupNo {font-weight: normal;}
.LegSnippet .ENLegScheduleGroupFirst .ENGroupNo {font-weight: normal;}
.LegSnippet .ENLegScheduleGroup .ENGroupNo strong {font-weight: bold;}
.LegSnippet .ENLegScheduleGroupFirst .ENGroupNo strong {font-weight: bold;}

.LegSnippet .ENLegPartNo {clear: both; display: block; text-align: center; font-size: 0.9em; font-weight: bold; font-variant: small-caps; padding-top: 0.5em; margin-top: 0.5em; margin-bottom: 0.25em;}
.LegSnippet .ENLegPartTitle {display: block; text-align: center; font-size: 0.9em; font-weight: normal; font-variant: small-caps; margin-bottom: 0.25em;}
.LegSnippet .ENLegPartNo strong {font-weight: normal;}

.LegSnippet .ENLegSchedulePart .ENPartNo {font-weight: normal;}
.LegSnippet .ENLegSchedulePartFirst .ENPartNo {font-weight: normal;}
.LegSnippet .ENLegSchedulePart .ENPartNo strong {font-weight: bold;}
.LegSnippet .ENLegSchedulePartFirst .ENPartNo strong {font-weight: bold;}

.LegSnippet .ENChapterNo {display: block; text-align: center; font-size: 0.9em; font-variant: small-caps; font-weight: bold; margin-bottom: 0.25em;}
.LegSnippet .ENChapterTitle {display: block; text-align: center; font-size: 0.9em; font-variant: small-caps; font-weight: normal; margin-bottom: 0.25em;}
.LegSnippet .ENChapterNo strong {font-weight: normal;}

.LegSnippet .ENLegScheduleChapter .ENChapterNo {font-weight: normal;}
.LegSnippet .ENLegScheduleChapterFirst .ENChapterNo {font-weight: normal;}
.LegSnippet .ENLegScheduleChapter .ENChapterNo strong {font-weight: bold;}
.LegSnippet .ENLegScheduleChapterFirst .ENChapterNo strong {font-weight: bold;}

.LegSnippet .ENLegPblockNo {display: block; text-align: center; font-weight: normal;}
.LegSnippet .ENLegPblockTitle {clear: both; display: block; text-align: center; font-style: italic; font-weight: normal; padding-top: 0.5em; margin-top: 0.5em;}
.LegSnippet .ENLegPblockTitle em {font-style: normal;}

.LegSnippet .ENLegPsubBlockNo {display: block; text-align: left; font-style: normal; font-weight: normal;}
.LegSnippet .ENLegPsubBlockTitle {display: block; text-align: left; font-style: italic; font-weight: normal;}
.LegSnippet .ENLegPsubBlockTitle em {font-style: normal;}

.LegSnippet .ENFormNo {display: block; text-align: left; font-size: 0.9em; font-weight: bold; font-variant: small-caps; margin-bottom: 0.25em;}
.LegSnippet .ENFormNo strong {font-weight: normal;}

.LegSnippet .ENC1Amend {margin-left: 10%;}
.LegSnippet .ENC1C1Amend2 {margin-left: 20%;}
.LegSnippet .ENC1C3Amend2 {margin-left: 27%;}
.LegSnippet .ENC3Amend {margin-left: 17%;}
.LegSnippet .ENC4Amend {margin-left: 24%;}

.LegSnippet .ENHeadingFirst {padding-top: 0em;}
.LegSnippet .ENHeadingRef {padding-top: 0em; margin-left: 30%;}
.LegSnippet .ENHeadingRefFirst {padding-top: 0em; margin-left: 30%;}
.LegSnippet .ENHeadingRefC1Amend {padding-top: 0em; margin-left: 40%;}
.LegSnippet .ENHeadingRefAmend2 {padding-top: 0em; margin-left: 50%;}

.LegSnippet .ENLegArticleRef {clear: both;  text-align: center; margin: 0em; padding: 0em;}
.LegSnippet .ENLegArticleRefScottish {clear: both; text-align: left; margin-top: 0em; margin-bottom: 0em; padding-top: 0em; padding-bottom: 1em; font-style: italic;}
.LegSnippet .ENLegClearSchedule {clear: both; padding-top: 3em;}
.LegSnippet .ENLegClearScheduleFirst {clear: both; padding-top: 0em;}
.LegSnippet .ENLegClearGroup {clear: both; padding-top: 2em;}
.LegSnippet .ENLegClearPart {clear: both; padding-top: 2em;}
.LegSnippet .ENLegClearChapter {clear: both; padding-top: 1em;}
.LegSnippet .ENLegClearPblock {clear: both; padding-top: 1em;}
.LegSnippet .ENLegClearPsubBlock {clear: both; padding-top: 1em;}
.LegSnippet .ENLegClearGroupFirst {clear: both; padding-top: 0em;}
.LegSnippet .ENLegClearPartFirst {clear: both; padding-top: 0em;}
.LegSnippet .ENLegClearChapterFirst {clear: both; padding-top: 0em;}
.LegSnippet .ENLegClearPblockFirst {clear: both; padding-top: 0em;}
.LegSnippet .ENLegClearPsubBlockFirst {clear: both; padding-top: 0em;}


/* ========== Abstract ========== */

.LegSnippet .ENAbstract {clear: both; padding-top: 3em; border-bottom: solid 2px black; margin-bottom: 2em; text-align: left; font-size: 1.1em; margin-bottom: 0em; font-weight: normal; padding-bottom: 0em;}
.LegSnippet .ENAbstractTitle {display: block; text-align: left; font-size: 1.1em; margin-bottom: 0em; font-weight: normal; padding-bottom: 0em; text-transform: uppercase;}
.LegSnippet .ENAbstractSubtitle {display: block; text-align: left; font-size: 1.1em; margin-top: 0em; margin-bottom: 0em; font-weight: normal; padding: 0em; font-variant: small-caps;}

.LegSnippet .ENAbstract .ENChapterNo {display: block; text-align: left; font-size: 0.9em; margin-bottom: 0em; padding-bottom: 0.5em; font-weight: normal; font-variant: normal;}
.LegSnippet .ENAbstract .ENChapterTitle {display: block; text-align: left; font-size: 0.9em; margin-bottom: 0em; margin-top: 0em; padding-top: 0em; padding-bottom: 1em; font-weight: normal; font-variant: normal;}


/* ========== Appendixes ========== */

.LegSnippet .ENAppendix {clear: both; padding-top: 3em; text-align: left; font-size: 1.1em; margin-bottom: 0em; font-weight: normal; padding-bottom: 0em;}
.LegSnippet .ENAppendixNo {display: block; text-align: left; font-size: 1.1em; margin-bottom: 0em; font-weight: normal; padding-top: 0em;}
.LegSnippet .ENAppendixTitle {display: block; text-align: left; font-size: 1.1em; margin-bottom: 0em; font-weight: normal; padding-bottom: 1em;}
.LegSnippet .ENAppendixSubtitle {display: block; text-align: left; font-size: 1.1em; margin-top: 0em; margin-bottom: 0em; font-weight: normal; padding: 0em;}


/* ========== EN Numbered Paragraphs  ========== */
.LegSnippet .ENNumParaContainer {clear: both; position: relative; margin-bottom: 0.5em;}
.LegSnippet .ENNumParaNo {width: 3%; position: relative; margin-bottom: 0.5em;}
.LegSnippet .ENNumParaText {width: 95%; position: relative; margin-bottom: 0.5em;}
.LegSnippet .ENTable .ENNumParaContainer {font-size: 1em;}

/* ========== Provisions ========== */

.LegSnippet div.ENBlockText p.Unknown {clear: both;}
.LegSnippet div.ENBlockText div.ENListItem p.Unknown {clear: none;}

.LegSnippet .ENBlockText {clear: both;  margin-left: 5%;}
.LegSnippet blockquote {clear: both; margin-left: 5%;}
.LegSnippet p.ENText {clear: both; text-align: justify;}
.LegSnippet .ENTabular p.ENText {clear: both; text-align: justify; margin-left: 0%;}

.LegSnippet .ENIntroductoryText p.ENText {clear: both; text-align: justify; margin-left: 0%;}
.LegSnippet .ENEnactingText p.ENText {clear: both; text-align: justify; margin-left: 0%;}
.LegSnippet .ENRoyalPresence .ENText {clear: both; text-align: left;}

.LegSnippet td p.ENText {font-size: 1em; clear: both; text-align: left;}
.LegSnippet th p.ENText {font-size: 1em; clear: both; text-align: left;}
.LegSnippet tfoot .ENFootnote .ENText {clear: none; float: right; width: 96%; text-align: justify; margin-bottom: 0em; padding-bottom: 0.5em; margin-top: 0em;}

.LegSnippet .ENRHS {float: right; text-align: justify;}
.LegSnippet .ENLHS {float: left; text-align: left;}

.LegSnippet .ENTextC1Amend {clear: both; text-indent: 0em; text-align: justify; margin-left: 20%;}
.LegSnippet .ENTextC1C1Amend2 {clear: both; text-indent: 0em; text-align: justify; margin-left: 30%;}
.LegSnippet .ENTextC3Amend {clear: both; text-indent: 0em; text-align: justify; margin-left: 27%;}
.LegSnippet .ENTextC4Amend {clear: both; text-indent: 0em; text-align: justify; margin-left: 34%;}
.LegSnippet .ENTextC5Amend {clear: both; text-indent: 0em; text-align: justify; margin-left: 41%;}

.LegSnippet .ENLegP1GroupTitle {float: right; text-align: justify; width: 92%; font-weight: bold; padding-top: 0.5em;}
.LegSnippet .ENLegP1GroupTitleC1Amend {float: right; text-align: justify; width: 82%;}
.LegSnippet .ENLegP1GroupTitleC1C1Amend2 {float: right; text-align: justify; width: 72%;}
.LegSnippet .ENLegP1GroupTitleC1C3Amend2 {float: right; text-align: justify; width: 66%;}
.LegSnippet .ENLegP1GroupTitleC3Amend {float: right; text-align: justify; width: 75%;}
.LegSnippet .ENLegP1GroupTitleC4Amend {float: right; text-align: justify; width: 68%;}
.LegSnippet .ENLegP1GroupTitleFirst {float: right; text-align: justify; width: 92%;}
.LegSnippet .ENLegP1GroupTitleFirstC1Amend {float: right; text-align: justify; width: 82%; padding-top: 0em;}
.LegSnippet .ENLegP1GroupTitleFirstC3Amend {float: right; text-align: justify; width: 75%; padding-top: 0em;}
.LegSnippet .ENLegP1GroupTitleFirstC4Amend {float: right; text-align: justify; width: 68%; padding-top: 0em;}
.LegSnippet .ENLegP1GroupTitleFirstC1C1Amend2 {float: right; text-align: justify; width: 72%; padding-top: 0em;}
.LegSnippet .ENLegP1GroupTitleFirstC1C3Amend2 {float: right; text-align: justify; width: 66%;}

.LegSnippet .ENLegP1GroupTitleBelow {clear: both; text-align: justify; padding-top: 1em;}
.LegSnippet .ENLegP1GroupTitleBelowAmend {clear: both; margin-left: 10%; text-align: justify;}
.LegSnippet .ENLegP1GroupTitleBelowFirstAmend {clear: both; margin-left: 10%; text-align: justify;}

.LegSnippet .ENSP1GroupTitle {clear: both; font-weight: normal; font-style: italic; text-align: justify; padding-top: 1em; margin-bottom: 0.5em; margin-top: 0em;}
.LegSnippet .ENSP1GroupTitle em {font-style: normal;}
.LegSnippet .ENSP1GroupTitleFirst {clear: both; font-weight: normal; font-style: italic; text-align: justify; padding-top: 0em; margin-bottom: 0.5em; margin-top: 0em;}
.LegSnippet .ENSP1GroupTitleFirst em {font-style: normal;}
.LegSnippet .ENSP1GroupTitleFirstC1Amend em {font-style: normal;}

.LegSnippet .ENSP1GroupTitleC1Amend {clear: both; margin-left: 10%; font-weight: normal; font-style: italic; text-align: left; margin-bottom: 0.5em; margin-top: 0em; padding-top: 1em;}
.LegSnippet .ENSP1GroupTitleC1Amend em {font-style: normal;}
.LegSnippet .ENSP1GroupTitleFirstC1Amend {clear: both; margin-left: 10%; font-weight: normal; font-style: italic; text-align: left; margin-bottom: 0.5em; margin-top: 0em; padding-top: 0em;}
.LegSnippet .ENSP1GroupTitleFirstC1Amend em {font-style: normal;}
.LegSnippet .ENSP1GroupTitleC3Amend {clear: both; margin-left: 17%; font-weight: normal; font-style: italic; text-align: left; margin-bottom: 0.5em; margin-top: 0em; padding-top: 1em;}
.LegSnippet .ENSP1GroupTitleC3Amend em {font-style: normal;}
.LegSnippet .ENSP1GroupTitleFirstC3Amend {clear: both; margin-left: 17%; font-weight: normal; font-style: italic; text-align: left; margin-bottom: 0.5em; margin-top: 0em; padding-top: 0em;}
.LegSnippet .ENSP1GroupTitleFirstC3Amend em {font-style: normal;}
.LegSnippet .ENSP1GroupTitleC4Amend {clear: both; margin-left: 24%; font-weight: normal; font-style: italic; text-align: left; margin-bottom: 0.5em; margin-top: 0em; padding-top: 1em;}
.LegSnippet .ENSP1GroupTitleC4Amend em {font-style: normal;}
.LegSnippet .ENSP1GroupTitleFirstC4Amend {clear: both; margin-left: 24%; font-weight: normal; font-style: italic; text-align: left; margin-bottom: 0.5em; margin-top: 0em; padding-top: 0em;}
.LegSnippet .ENSP1GroupTitleFirstC4Amend em {font-style: normal;}

.LegSnippet .ENLegP1No {font-weight: bold; font-size: 0.8em; padding-top: 0.5em;}
.LegSnippet .ENTable .ENLegP1No {font-weight: bold; font-size: 1em; }
.LegSnippet .ENLegN1NoAmend .ENLegP1No {font-weight: normal; float: left;}
.LegSnippet .ENLegSP1Container .ENLegP1No {font-weight: normal; float: left; width: 6%;}
.LegSnippet .ENLegSP1Container .ENLegP1NoC1Amend .ENLegP1No {font-weight: normal; float: left; width: 100%;}
.LegSnippet .ENLegSP1Container .ENLegP1NoC3Amend .ENLegP1No {font-weight: normal; float: left; width: 100%;}
.LegSnippet .ENLegSP2Container .ENLegP1No {font-weight: normal; float: left; width: 6%;}
.LegSnippet .ENLegSP3Container .ENLegP1No {font-weight: normal; float: left; width: 6%;}

.LegSnippet .ENLegP1NoC1Amend {float: left; width: 12%; text-align: right;}
.LegSnippet .ENSP1Container .ENLegP1NoC1Amend {font-weight: normal; float: left; width: 13%; text-align: right;}
.LegSnippet .ENLegP1NoC3Amend {float: left; width: 19%; text-align: right;}
.LegSnippet .ENSP1Container .ENLegP1NoC3Amend {float: left; width: 20%; text-align: right;}
.LegSnippet .ENLegP1NoC4Amend {float: left; width: 26%; text-align: right;}
.LegSnippet .ENLegP1NoC1C1Amend2 {float: left; width: 22%; text-align: right;}
.LegSnippet .ENLegP1NoC1C3Amend2 {float: left; width: 30%; text-align: right;}
.LegSnippet .ENLegP1NoC3C1Amend2 {float: left; width: 29%; text-align: right;}

.LegSnippet .ENLegP2No {width: 8%;}
.LegSnippet .ENLegP2NoAmend {width: 8%; }
.LegSnippet .ENLegP2NoC1Amend {width: 18%;}
.LegSnippet .ENLegP2NoC3Amend {width: 25%;}
.LegSnippet .ENLegP2NoC4Amend {width: 32%;}
.LegSnippet .ENLegP2NoC5Amend {width: 39%;}
.LegSnippet .ENLegP2NoC1C1Amend2 {width: 28%;}
.LegSnippet .ENLegP2NoC1C3Amend2 {width: 35%;}
.LegSnippet .ENLegP2NoC1C4Amend2 {width: 42%;}
.LegSnippet .ENLegP2NoC3C3Amend2 {width: 42%;}

.LegSnippet .ENLegN1No {float: left; width: 5%; text-align: left;}
.LegSnippet .ENLegN1NoAmend {float: left; width: 5%; text-align: left; margin-left: 10%;}
.LegSnippet .ENLegN2No {float: left; width: 3%; text-align: right;}
.LegSnippet .ENLegN2NoAmend {float: left; width: 3%; text-align: right;}
.LegSnippet .ENLegN2NoAmend {float: left; width: 3%; text-align: right;}
.LegSnippet .ENLegSN1No {float: left; width: 5%; text-align: left;}
.LegSnippet .ENTable .ENLegSN1No {font-size: 1.3em;}
.LegSnippet .ENLegSN1NoC1Amend {float: left; width: 13%; text-align: right;}
.LegSnippet .ENLegSN1NoC1Amend .ENLegP1No {font-weight: normal; width: 100%; text-align: right;}
.LegSnippet .ENLegSN1NoC3Amend {float: left; width: 20%; text-align: right;}
.LegSnippet .ENLegSN1NoC3Amend .ENLegP1No {font-weight: normal; width: 100%; text-align: right;}
.LegSnippet .ENLegSN1NoC4Amend {float: left; width: 27%; text-align: right;}
.LegSnippet .ENLegSN1NoC4Amend .ENLegP1No {font-weight: normal; width: 100%; text-align: right;}

.LegSnippet .ENLegSN2No {float: left; width: 3%; text-align: right;}
.LegSnippet .ENTable .ENLegSN2No {font-size: 1.3em;}
.LegSnippet .ENLegSN2NoAmend {float: left; width: 3%; text-align: right;}
.LegSnippet .ENLegSN2NoC1Amend {float: left; width: 5%; text-align: right;}
.LegSnippet .ENLegSN2NoC3Amend {float: left; width: 5%; text-align: right;}
.LegSnippet .ENLegSN2NoC4Amend {float: left; width: 5%; text-align: right;}

.LegSnippet .ENLegP1Container {clear: both; padding-top: 1.5em; padding-bottom: 0em; margin-bottom: 0.5em; margin-top: 0em; font-weight: bold;}
.LegSnippet .ENLegP1Container strong {font-weight: normal;}
.LegSnippet .ENLegP1ContainerFirst {clear: both; padding: 0em; margin-bottom: 0.5em; margin-top: 0em; font-weight: bold;}
.LegSnippet .ENLegP1ContainerFirst strong {font-weight: normal;}
.LegSnippet .ENLegSP1Container {clear: both; padding-top: 0em; margin-bottom: 0.5em; padding: 0em;}

.LegSnippet .ENLegP1ParaText {clear: both; text-indent: 1em; text-align: justify;}
.LegSnippet .ENLegP1Text {width: 90%;}
.LegSnippet .ENTable .ENLegP1Text {font-size: 100%;}
.LegSnippet .ENLegP1TextAmend {width: 90%;}
.LegSnippet .ENLegP1TextC1Amend {width: 80%;}
.LegSnippet .ENLegP1TextC3Amend {width: 73%;}
.LegSnippet .ENLegP1TextC4Amend {width: 66%;}
.LegSnippet .ENLegP1TextC1C1Amend2 {width: 70%;}
.LegSnippet .ENLegP1TextC1C3Amend2 {width: 63%;}

.LegSnippet .ENLegP2Container {clear: both; margin-left: 7%;}
.LegSnippet .ENTable .ENLegP2Container {font-size: 100%;}
.LegSnippet .ENLegSP2Container {clear: both; margin-left: 7%;}

.LegSnippet .ENLegP2GroupTitle {clear: both; font-weight: normal; font-style: italic; text-align: justify; padding: 0em; margin-bottom: 0.5em; margin-left: 8%; margin-top: 1em;}
.LegSnippet .ENLegP2GroupTitle em {font-style: normal;}
.LegSnippet .ENLegP2GroupTitleC1Amend {margin-left: 18%;}
.LegSnippet .ENLegP2GroupTitleC3Amend {margin-left: 25%;}
.LegSnippet .ENLegP2GroupTitleC4Amend {margin-left: 32%;}
.LegSnippet .ENLegP2GroupTitleC1C3Amend2 {margin-left: 35%;}

.LegSnippet .ENLegP2ParaText {clear: both; text-indent: 1em; text-align: justify; margin-bottom: 0.5em;}
.LegSnippet .ENLegP2Text {width: 90%;}
.LegSnippet .ENTable .ENLegP2Text {font-size: 100%;} 
.LegSnippet .ENLegP2TextAmend {width: 90%;}
.LegSnippet .ENLegP2TextC1Amend {width: 80%;}
.LegSnippet .ENLegP2TextC3Amend {width: 73%;}
.LegSnippet .ENLegP2TextC4Amend {width: 66%;}
.LegSnippet .ENLegP2TextC5Amend {width: 59%;}
.LegSnippet .ENLegP2TextC1C1Amend2 {width: 70%;}
.LegSnippet .ENLegP2TextC1C3Amend2 {width: 63%;}
.LegSnippet .ENLegP2TextC1C4Amend2 {width: 56%;}
.LegSnippet .ENLegP2TextC3C3Amend2 {width: 56%;}

.LegSnippet .ENLegP3GroupTitle {clear: both; font-weight: normal; font-style: italic; text-align: justify; padding: 0em; margin-top: 0.5em; margin-bottom: 0.25em; margin-left: 13%;}
.LegSnippet .ENLegP3GroupTitle em {font-style: normal;}
.LegSnippet .ENLegP3GroupTitleC1Amend {margin-left: 23%;}
.LegSnippet .ENLegP3GroupTitleC3Amend {margin-left: 30%;}
.LegSnippet .ENLegP3GroupTitleC4Amend {margin-left: 37%;}
.LegSnippet .ENLegP3GroupTitleC1C3Amend2 {margin-left: 40%;}

.LegSnippet .ENLegP3Container {clear: both;  margin-left: 16%; }
.LegSnippet .ENTable .ENLegP3Container {font-size: 100%;}
.LegSnippet .ENLegSP3Container {clear: both; margin-left: 16%;}

.LegSnippet .ENLegP3No {width: 7%;}
.LegSnippet .ENLegP3NoAmend {width: 7%;}
.LegSnippet .ENLegP3NoC1Amend {width: 25%;}
.LegSnippet .ENLegP3NoC3Amend {width: 32%;}
.LegSnippet .ENLegP3NoC4Amend {width: 39%;}
.LegSnippet .ENLegP3NoC5Amend {width: 46%;}
.LegSnippet .ENLegP3NoC1C1Amend2 {width: 35%;}
.LegSnippet .ENLegP3NoC1C3Amend2 {width: 42%;}
.LegSnippet .ENLegP3NoC1C4Amend2 {width: 49%;}
.LegSnippet .ENLegP3NoC1C5Amend2 {width: 56%;}
.LegSnippet .ENLegP3NoC3C1Amend2 {width: 42%;}
.LegSnippet .ENLegP3NoC3C3Amend2 {width: 49%;}
.LegSnippet .ENLegP3NoC3C4Amend2 {width: 56%;}
.LegSnippet .ENLegP3NoC4C3Amend2 {width: 56%;}

.LegSnippet .ENLegN3No {width: 15%;}
.LegSnippet .ENLegN3NoC1Amend {width: 25%;}
.LegSnippet .ENLegN3NoC3Amend {width: 32%;}
.LegSnippet .ENLegN3NoC4Amend {width: 39%;}
.LegSnippet .ENLegN3NoC5Amend {width: 46%;}
.LegSnippet .ENLegN3NoC1C1Amend2 {width: 35%;}

.LegSnippet .ENLegP3Text {width: 92%;}
.LegSnippet .ENTable .ENLegP3Text {font-size: 100%;}
.LegSnippet .ENLegP3TextAmend {width: 92%;}
.LegSnippet .ENLegP3TextC1Amend {width: 73%;}
.LegSnippet .ENLegP3TextC3Amend {width: 66%;}
.LegSnippet .ENLegP3TextC4Amend {width: 59%;}
.LegSnippet .ENLegP3TextC5Amend {width: 52%;}
.LegSnippet .ENLegP3TextC1C1Amend2 {width: 63%;}
.LegSnippet .ENLegP3TextC1C3Amend2 {width: 56%;}
.LegSnippet .ENLegP3TextC1C4Amend2 {width: 49%;}
.LegSnippet .ENLegP3TextC3C1Amend2 {width: 56%;}
.LegSnippet .ENLegP3TextC3C3Amend2 {width: 49%;}
.LegSnippet .ENLegP3TextC3C4Amend2 {width: 42%;}
.LegSnippet .ENLegP3TextC4C3Amend2 {width: 42%;}

.LegSnippet .ENLegP4Container {clear: both;  margin-left: 22%; }
.LegSnippet .ENTable .ENLegP4Container {font-size: 1em; }
.LegSnippet .ENLegSP4Container {clear: both;  margin-left: 22%; }

.LegSnippet .ENLegP4No {width: 4%;}
.LegSnippet .ENLegP4NoAmend {width: 4%; }
.LegSnippet .ENLegP4NoC1Amend {width: 32%;}
.LegSnippet .ENLegP4NoC3Amend {width: 39%;}
.LegSnippet .ENLegP4NoC4Amend {width: 46%;}
.LegSnippet .ENLegP4NoC5Amend {width: 53%;}
.LegSnippet .ENLegP4NoC1C1Amend2 {width: 42%;}
.LegSnippet .ENLegP4NoC1C3Amend2 {width: 49%;}
.LegSnippet .ENLegP4NoC3C1Amend2 {width: 35%;}

.LegSnippet .ENLegN4No {width: 7%;}
.LegSnippet .ENLegN4N5No {width: 22%;}
.LegSnippet .ENLegN4N5NoC1Amend {width: 32%;}
.LegSnippet .ENLegN4N5NoC3Amend {width: 49%;}
.LegSnippet .ENLegN4N5NoC4Amend {width: 56%;}
.LegSnippet .ENLegN4N5NoC1C1Amend2 {width: 42%;}
.LegSnippet .ENLegN4N5NoC1C3Amend2 {width: 49%;}

.LegSnippet .ENLegP4Text {width: 95%;}
.LegSnippet .ENTable .ENLegP4Text {font-size: 100%;}
.LegSnippet .ENLegP4TextAmend {width: 95%;}
.LegSnippet .ENLegP4TextC1Amend {width: 66%;}
.LegSnippet .ENLegP4TextC3Amend {width: 59%;}
.LegSnippet .ENLegP4TextC4Amend {width: 52%;}
.LegSnippet .ENLegP4TextC5Amend {width: 45%;}
.LegSnippet .ENLegP4TextC1C1Amend2 {width: 56%;}
.LegSnippet .ENLegP4TextC1C3Amend2 {width: 49%;}
.LegSnippet .ENLegP4TextC3C1Amend2 {width: 63%;}

.LegSnippet .ENLegP5Container {clear: both; width: 100%; margin-bottom: 0.5em; padding: 0em;}
.LegSnippet .ENLegSP5Container {clear: both; width: 100%; margin-bottom: 0.5em; padding: 0em;}

.LegSnippet .ENLegP5No {width: 29%;}
.LegSnippet .ENLegP5NoAmend {width: 29%;}
.LegSnippet .ENLegP5NoC1Amend {width: 39%;}
.LegSnippet .ENLegP5NoC3Amend {width: 46%;}
.LegSnippet .ENLegP5NoC4Amend {width: 53%;}
.LegSnippet .ENLegP5NoC5Amend {width: 60%;}
.LegSnippet .ENLegP5NoC1C1Amend2 {width: 49%;}
.LegSnippet .ENLegP5NoC1C3Amend2 {width: 56%;}

.LegSnippet .ENLegN5No {width: 7%;}

.LegSnippet .ENLegP5Text {width: 69%;}
.LegSnippet .ENLegP5TextC1Amend {width: 59%;}
.LegSnippet .ENLegP5TextC3Amend {width: 52%;}
.LegSnippet .ENLegP5TextC4Amend {width: 45%;}
.LegSnippet .ENLegP5TextC5Amend {width: 38%;}
.LegSnippet .ENLegP5TextC1C1Amend2 {width: 49%;}
.LegSnippet .ENLegP5TextC1C3Amend2 {width: 42%;}

.LegSnippet .ENLegP6Container {clear: both; width: 100%; margin-bottom: 0.5em; padding: 0em;}
.LegSnippet .ENLegSP6Container {clear: both; width: 100%; margin-bottom: 0.5em; padding: 0em;}

.LegSnippet .ENLegP6No {width: 36%;}
.LegSnippet .ENLegP6NoAmend {width: 36%;}
.LegSnippet .ENLegP6NoC1Amend {width: 46%;}
.LegSnippet .ENLegP6NoC3Amend {width: 53%;}
.LegSnippet .ENLegP6NoC4Amend {width: 60%;}
.LegSnippet .ENLegP6NoC1C1Amend2 {width: 56%;}
.LegSnippet .ENLegP6NoC1C3Amend2 {width: 63%;}

.LegSnippet .ENLegP6Text {width: 62%;}
.LegSnippet .ENLegP6TextC1Amend {width: 52%;}
.LegSnippet .ENLegP6TextC3Amend {width: 45%;}
.LegSnippet .ENLegP6TextC4Amend {width: 38%;}
.LegSnippet .ENLegP6TextC1C1Amend2 {width: 42%;}
.LegSnippet .ENLegP6TextC1C3Amend2 {width: 35%;}

.LegSnippet .ENLegP7Container {clear: both; width: 100%; margin-bottom: 0.5em; padding: 0em;}
.LegSnippet .ENLegSP7Container {clear: both; width: 100%; margin-bottom: 0.5em; padding: 0em;}

.LegSnippet .ENLegP7No {width: 43%;}
.LegSnippet .ENLegP7NoAmend {width: 43%;}
.LegSnippet .ENLegP7NoC1Amend {width: 53%;}
.LegSnippet .ENLegP7NoC3Amend {width: 60%;}
.LegSnippet .ENLegP7NoC4Amend {width: 67%;}
.LegSnippet .ENLegP7NoC1C1Amend2 {width: 63%;}
.LegSnippet .ENLegP7NoC1C3Amend2 {width: 70%;}

.LegSnippet .ENLegP7Text {width: 55%;}
.LegSnippet .ENLegP7TextC1Amend {width: 45%;}
.LegSnippet .ENLegP7TextC3Amend {width: 38%;}
.LegSnippet .ENLegP7TextC4Amend {width: 31%;}
.LegSnippet .ENLegP7TextC1C1Amend2 {width: 35%;}
.LegSnippet .ENLegP7TextC1C3Amend2 {width: 28%;}


/* ========== Lists ========== */

.LegSnippet ul {margin: 0em; padding: 0em; font-size: 1em;}
.LegSnippet li {clear: both; margin: 0em; padding: 0em;}

.LegSnippet div.Amend {clear:both; height: 100%;}
.LegSnippet .ENLegP2list {clear:both; height: 100%;}
.LegSnippet .ENLegP3list {clear:both; height: 100%;}
.LegSnippet .ENLegP4list {clear:both; height: 100%;}
.LegSnippet .ENLegP5list {clear:both; height: 100%;}
.LegSnippet .ENLegP6list {clear:both; height: 100%;}
.LegSnippet .ENLegP7list {clear:both; height: 100%;}

.LegSnippet .ENLegP2listAmend {clear:both; height: 100%;}
.LegSnippet .ENLegP3listAmend {clear:both; height: 100%;}
.LegSnippet .ENLegP4listAmend {clear:both; height: 100%;}
.LegSnippet .ENLegP5listAmend {clear:both; height: 100%;}
.LegSnippet .ENLegP6listAmend {clear:both; height: 100%;}
.LegSnippet .ENLegP7listAmend {clear:both; height: 100%;}

.LegSnippet .ENAlphaList {clear: both; height: 100%; margin-left: 5%;}
.LegSnippet .ENRomanList {clear: both; height: 100%; position: relative; margin-left: 5%;}
.LegSnippet .ENArabicList {clear: both; height: 100%; position: relative; margin-left: 5%;}

.LegSnippet blockquote .ENArabicList {margin-left: 7%;}
.LegSnippet blockquote .ENRomanList {margin-left: 14%;}
.LegSnippet blockquote .ENAlphaList {margin-left: 16%;}

.LegSnippet .ENLegP2list .ENAlphaList { margin-left: 16%;}
.LegSnippet .ENLegP2list .ENRomanList {margin-left: 16%;}
.LegSnippet .ENLegP2list .ENArabicList {margin-left: 16%;}

.LegSnippet .ENLegP2listAmend .ENAlphaList { margin-left: 16%;}
.LegSnippet .ENLegP2listAmend .ENRomanList {margin-left: 16%;}
.LegSnippet .ENLegP2listAmend .ENArabicList {margin-left: 16%;}

.LegSnippet .ENLegP3list .ENAlphaList { margin-left: 16%;}
.LegSnippet .ENLegP3list .ENRomanList {margin-left: 16%;}
.LegSnippet .ENLegP3list .ENArabicList {margin-left: 16%;}

.LegSnippet .ENLegP3listAmend .ENAlphaList { margin-left: 16%;}
.LegSnippet .ENLegP3listAmend .ENRomanList {margin-left: 16%;}
.LegSnippet .ENLegP3listAmend .ENArabicList {margin-left: 16%;}

.LegSnippet .ENLegP4list .ENAlphaList { margin-left: 22%;}
.LegSnippet .ENLegP4list .ENRomanList {margin-left: 22%;}
.LegSnippet .ENLegP4list .ENArabicList {margin-left: 22%;}

.LegSnippet .ENLegP4listAmend .ENAlphaList { margin-left: 22%;}
.LegSnippet .ENLegP4listAmend .ENRomanList {margin-left: 22%;}
.LegSnippet .ENLegP4listAmend .ENArabicList {margin-left: 22%;}



/* Nested lists */
/*.LegSnippet .ENAlphaList { margin-left: 2%;}
.LegSnippet .ENRomanList {margin-left: 2%;}
.LegSnippet .ENArabicList { margin-left: 2%;}*/

.LegSnippet .ENTabbed {clear: both; position: relative; list-style-type: none; margin-left: 7%;}
.LegSnippet .ENTabbedDef {clear: both; position: relative; list-style-type: none; margin-left: 7%;}
.LegSnippet .ENTabbedDefAmend {clear: both; position: relative; list-style-type: none; margin-left: 10%;}
.LegSnippet .ENDashed {clear: both; position: relative; list-style-type: square; margin-left: 7%;}
.LegSnippet .ENBulleted {clear: both; position: relative; list-style-type: disc; margin-left: 7%;}
/* Nested bulleted list */
.LegSnippet .ENBulleted .ENBulleted { list-style-type: circle;}

.LegSnippet .ENTabbedC1Amend {clear: both; list-style-type: none;}
.LegSnippet .ENTabbedDefC1Amend {clear: both; list-style-type: none;}
.LegSnippet .ENDashedC1Amend {clear: both; list-style-type: square;}
.LegSnippet .ENBulletedC1Amend {clear: both; list-style-type: disc;}

.LegSnippet .ENTabbedC3Amend {clear: both; list-style-type: none;}
.LegSnippet .ENTabbedDefC3Amend {clear: both; list-style-type: none;}
.LegSnippet .ENDashedC3Amend {clear: both; list-style-type: square;}
.LegSnippet .ENBulletedC3Amend {clear: both; list-style-type: disc;}

.LegSnippet .ENTabbedC4Amend {clear: both; list-style-type: none;}
.LegSnippet .ENTabbedDefC4Amend {clear: both; list-style-type: none;}
.LegSnippet .ENDashedC4Amend {clear: both; list-style-type: square;}
.LegSnippet .ENBulletedC4Amend {clear: both; list-style-type: disc;}

.LegSnippet .ENTabbedC1C1Amend2 {clear: both; list-style-type: none;}
.LegSnippet .ENTabbedDefC1C1Amend2 {clear: both; list-style-type: none;}
.LegSnippet .ENDashedC1C1Amend2 {clear: both; list-style-type: square;}
.LegSnippet .ENBulletedC1C1Amend2 {clear: both; list-style-type: disc;}

.LegSnippet ul {margin-left: 15.5%; margin-bottom: 1em;}
.LegSnippet ul.ENTabbed {margin-left: 7%;}
.LegSnippet ul.ENTabbedDef {margin-left: 7%;}
.LegSnippet ul.ENTabbedDefAmend {margin-left: 10%;}
.LegSnippet ul.ENTabbedDefC1Amend {margin-left: 0%;}
.LegSnippet ul.ENTabbedDefC2Amend {margin-left: 0%;}
.LegSnippet ul.ENTabbedDefC3Amend {margin-left: 0%;}
.LegSnippet ul.ENTabbedDefC4Amend {margin-left: 0%;}
.LegSnippet ul.ENTabbedDefC5Amend {margin-left: 0%;}
.LegSnippet ul.ENTabbedDefC1C1Amend2 {margin-left: 0%;}
.LegSnippet ul ul {margin-left: 9%;}

.LegSnippet .ENListItem {clear: both; padding: 0em;}
.LegSnippet .ENKeyListItem {clear: both; padding: 0em;}
.LegSnippet .ENKeySeparator {float: left; width: 5%; padding: 0em; text-align: left;}
.LegSnippet .ENListItemNo {float: left; text-align: right; padding: 0em; margin: 0em; font-size: 0.8em;}
.LegSnippet .ENTable .ENListItemNo { font-size: 1em;}

.LegSnippet .ENKeyLegLevel3 {float: left; padding: 0em; width: 20%; text-align: right;}
.LegSnippet .ENKeyLegLevel4 {float: left; padding: 0em; width: 26%; text-align: right;}
.LegSnippet .ENKeyLegLevel5 {float: left; padding: 0em; width: 32%; text-align: right;}

.LegSnippet .ENLevel3 {float: right; width: 84%; text-align: justify;}
.LegSnippet .ENLevel4 {float: right; width: 77%; text-align: justify;}
.LegSnippet .ENLevel5 {float: right; width: 70%; text-align: justify;}
.LegSnippet .ENLevel6 {float: right; width: 63%; text-align: justify;}
.LegSnippet .ENLevel7 {float: right; width: 56%; text-align: justify;}
.LegSnippet .ENLevel8 {float: right; width: 49%; text-align: justify;}

.LegSnippet .ENKeyListItem .ENLevel3 {float: right; width: 74%; text-align: justify;}
.LegSnippet .ENKeyListItem .ENLevel4 {float: right; width: 68%; text-align: justify;}
.LegSnippet .ENKeyListItem .ENLevel5 {float: right; width: 62%; text-align: justify;}

.LegSnippet .ENLevel3C1Amend {float: right; width: 74%; text-align: justify;}
.LegSnippet .ENLevel4C1Amend {float: right; width: 67%; text-align: justify;}
.LegSnippet .ENLevel5C1Amend {float: right; width: 60%; text-align: justify;}
.LegSnippet .ENLevel6C1Amend {float: right; width: 53%; text-align: justify;}
.LegSnippet .ENLevel7C1Amend {float: right; width: 46%; text-align: justify;}
.LegSnippet .ENLevel8C1Amend {float: right; width: 39%; text-align: justify;}

.LegSnippet .ENLevel3C3Amend {float: right; width: 74%; text-align: justify;}
.LegSnippet .ENLevel4C3Amend {float: right; width: 67%; text-align: justify;}
.LegSnippet .ENLevel5C3Amend {float: right; width: 60%; text-align: justify;}
.LegSnippet .ENLevel6C3Amend {float: right; width: 53%; text-align: justify;}
.LegSnippet .ENLevel7C3Amend {float: right; width: 46%; text-align: justify;}
.LegSnippet .ENLevel8C3Amend {float: right; width: 39%; text-align: justify;}

.LegSnippet .ENLevel3C4Amend {float: right; width: 67%; text-align: justify;}
.LegSnippet .ENLevel4C4Amend {float: right; width: 60%; text-align: justify;}
.LegSnippet .ENLevel5C4Amend {float: right; width: 53%; text-align: justify;}
.LegSnippet .ENLevel6C4Amend {float: right; width: 46%; text-align: justify;}
.LegSnippet .ENLevel7C4Amend {float: right; width: 39%; text-align: justify;}
.LegSnippet .ENLevel8C4Amend {float: right; width: 32%; text-align: justify;}

.LegSnippet .ENLevel3C1C1Amend2 {float: right; width: 64%; text-align: justify;}
.LegSnippet .ENLevel4C1C1Amend2 {float: right; width: 57%; text-align: justify;}
.LegSnippet .ENLevel5C1C1Amend2 {float: right; width: 50%; text-align: justify;}
.LegSnippet .ENLevel6C1C1Amend2 {float: right; width: 43%; text-align: justify;}
.LegSnippet .ENLevel7C1C1Amend2 {float: right; width: 36%; text-align: justify;}
.LegSnippet .ENLevel8C1C1Amend2 {float: right; width: 29%; text-align: justify;}

/*.LegSnippet .ENLevel3No {width: 14%;}
.LegSnippet .ENLevel4No {width: 21%;}
.LegSnippet .ENLevel5No {width: 28%;}
.LegSnippet .ENLevel6No {width: 35%;}
.LegSnippet .ENLevel7No {width: 42%;}
.LegSnippet .ENLevel8No {width: 49%;}*/

.LegSnippet .ENLevel3NoC1Amend {width: 24%;}
.LegSnippet .ENLevel4NoC1Amend {width: 31%;}
.LegSnippet .ENLevel5NoC1Amend {width: 38%;}
.LegSnippet .ENLevel6NoC1Amend {width: 45%;}
.LegSnippet .ENLevel7NoC1Amend {width: 52%;}
.LegSnippet .ENLevel8NoC1Amend {width: 59%;}

.LegSnippet .ENLevel3NoC3Amend {width: 24%;}
.LegSnippet .ENLevel4NoC3Amend {width: 31%;}
.LegSnippet .ENLevel5NoC3Amend {width: 38%;}
.LegSnippet .ENLevel6NoC3Amend {width: 45%;}
.LegSnippet .ENLevel7NoC3Amend {width: 52%;}
.LegSnippet .ENLevel8NoC3Amend {width: 59%;}

.LegSnippet .ENLevel3NoC4Amend {width: 31%;}
.LegSnippet .ENLevel4NoC4Amend {width: 38%;}
.LegSnippet .ENLevel5NoC4Amend {width: 45%;}
.LegSnippet .ENLevel6NoC4Amend {width: 52%;}
.LegSnippet .ENLevel7NoC4Amend {width: 59%;}
.LegSnippet .ENLevel8NoC4Amend {width: 66%;}

.LegSnippet .ENLevel3NoC1C1Amend2 {width: 34%;}
.LegSnippet .ENLevel4NoC1C1Amend2 {width: 41%;}
.LegSnippet .ENLevel5NoC1C1Amend2 {width: 48%;}
.LegSnippet .ENLevel6NoC1C1Amend2 {width: 55%;}
.LegSnippet .ENLevel7NoC1C1Amend2 {width: 62%;}
.LegSnippet .ENLevel8NoC1C1Amend2 {width: 69%;}

.LegSnippet .ENLeftNoLegLevel4No {width: 14%;}
.LegSnippet .ENLeftNoLegLevel5No {width: 21%;}
.LegSnippet .ENLeftNoLegLevel6No {width: 28%;}

.LegSnippet .ENLeftNoLegLevel4NoC1Amend {width: 24%;}
.LegSnippet .ENLeftNoLegLevel5NoC1Amend {width: 31%;}
.LegSnippet .ENLeftNoLegLevel6NoC1Amend {width: 38%;}

.LegSnippet .ENLeftNoLegLevel4NoC1C1Amend2 {width: 34%;}
.LegSnippet .ENLeftNoLegLevel5NoC1C1Amend2 {width: 41%;}
.LegSnippet .ENLeftNoLegLevel6NoC1C1Amend2 {width: 48%;}

.LegSnippet .ENRightNoLegLevel4No {width: 7%;}
.LegSnippet .ENRightNoLegLevel5No {width: 7%;}
.LegSnippet .ENRightNoLegLevel6No {width: 7%;}


/* Standard entry for list item text */
.LegSnippet .ENListTextStandard {text-align: justify; margin-top: 0em; padding: 0em;}
.LegSnippet .ENTable .ENListTextStandard {font-size: 1em;}

.LegSnippet .ENAlphaList .ENListTextStandard {float: right; width: 95%;}
.LegSnippet .ENRomanList .ENListTextStandard {float: right; width: 95%;}
.LegSnippet .ENArabicList .ENListTextStandard {float: right; width: 95%;}

.LegSnippet  .ENTable .ENAlphaList .ENListTextStandard {width: 90%;}
.LegSnippet   .ENTable .ENRomanList .ENListTextStandard {width: 90%;}
.LegSnippet   .ENTable .ENArabicList .ENListTextStandard {width: 90%;}

/* ========== Table ========== */

.LegSnippet table {margin: 0em; padding: 0em;}
.LegSnippet caption {padding-bottom: 0.5em;}

.LegSnippet .ENTabular {text-align: left; clear: both; padding-top: 0.5em; padding-bottom: 1em; margin: 0em;}
.LegSnippet .ENTableNo {font-weight: normal; text-align: center; margin-bottom: 0.5em; margin-top: 0em; padding: 0em;}
.LegSnippet .ENTableTitle {font-weight: normal; text-align: center; margin-bottom: 0.5em; margin-top: 0em; padding: 0em;}
.LegSnippet .ENTableSubtitle {font-weight: normal; text-align: center; margin-bottom: 0.5em; margin-top: 0em; padding: 0em;}

.LegSnippet .ENTableContainer {clear: both; text-align: left; margin-bottom: 0.5em;}
.LegSnippet .ENTable {border: none;  text-align: left; margin-top: 0.5em; width:100%;font-size:0.8em}

.LegSnippet .ENTable .ENTable {font-size: 1.2em;}

.LegSnippet thead .ENTH {text-align: left; font-style: italic; font-size: 1em; font-weight: normal; border: none; background-color: #ffffff; color: black; vertical-align: top;}
.LegSnippet thead .ENTHplain {text-align: left; font-style: italic; font-weight: normal; border: none; background-color: #ffffff; color: black; vertical-align: top;}
.LegSnippet thead .ENTH em {font-style: normal;}
.LegSnippet thead .ENTH .ENText em {font-style: italic;}
.LegSnippet thead .ENTHplain em {font-style: normal;}

.LegSnippet tbody .ENTH {text-align: left; font-style: normal; font-size: 1em; font-weight: bold; border: none; background-color: #ffffff; color: black; vertical-align: top;}
.LegSnippet tbody .ENTHplain {text-align: left; font-style: normal; font-weight: bold; border: none; background-color: #ffffff; color: black; vertical-align: top;}
.LegSnippet tbody .ENTH strong {font-weight: normal;}
.LegSnippet tbody .ENTH .ENText strong {font-weight: bold;}
.LegSnippet tbody .ENTHplain strong {font-weight: normal;}

.LegSnippet .ENTD {font-style: normal;  font-weight: normal; border: none; vertical-align: top;}
.LegSnippet .ENTDplain {font-style: normal;  font-weight: normal; border: none; vertical-align: top;}
.LegSnippet .ENTDmixedText {font-style: normal; font-weight: normal;}


/* ========== Amends ========== */

.LegSnippet .ENAmendQuoteOpen {font-weight: normal; font-style: normal; text-align: left;}
.LegSnippet .ENAmendQuoteClose {font-weight: normal; font-style: normal; text-align: right;}
.LegSnippet span.ENAmendQuote {font-weight: normal; font-style: normal;}

.LegSnippet .ENRunOnAmend {;}


/* ========== Forms ========== */

.LegSnippet .ENClearForm {clear: both; padding-top: 0em;}
.LegSnippet .ENFormSection {margin-top: 1em; margin: 1em; padding: 0.5em;}


/* ========== Formula ========== */

.LegSnippet .ENFormula {clear: both; margin-left: 10%; text-align: left;}
.LegSnippet .ENFormulaAmend {clear: both; margin-left: 10%; text-align: left;}
.LegSnippet .ENWhere {clear: both; margin-left: 10%;}

.LegSnippet .ENMaths {text-align: left; margin-top: 0.5em;}
.LegSnippet .ENErrorMaths {clear: both; text-align: left; margin-top: 0.5em; border: solid 1px red; background-color: white;}


/* ========== Footnotes ========== */

.LegSnippet div.ENFootnotes {clear: both; padding-top: 1em;}
.LegSnippet div.ENFootnotesContainer {margin-top: 1em; border-top: solid 1px black; padding-top: 1em; padding-bottom: 1em;}
.LegSnippet .ENFootnote {clear: both; padding: 0em; margin-bottom: 0.5em;}
.LegSnippet .ENFootnote .ENText {clear:none; float: right; width: 95%; margin-bottom: 0em; padding-bottom: 0.5em; margin-top: 0em; padding-top: 0em;}
.LegSnippet td .ENFootnote {clear: both; margin-top: 0em; margin-bottom: 0em; padding: 0em;}
.LegSnippet .ENFootnoteRef {font-weight: bold;}
.LegSnippet .ENFootnoteNoContainer {float: left; width: 5%;}
.LegSnippet .ENTableFootnoteNoContainer {float: left; width: 3%;}
.LegSnippet .ENFootnoteNo {font-weight: bold;}
.LegSnippet .ENTableFootnoteRef {font-weight: normal;}
.LegSnippet .ENTableFootnoteNo {font-weight: normal;}

/* ==== Legislation footnotes styles required for correct footnotes chunking by TSO_legislation_core_chunker_xml.xslt ===== */
.LegSnippet div.LegFootnotes {clear: both; padding-top: 1em;}
.LegSnippet div.LegFootnotesContainer {margin-top: 1em; border-top: solid 1px black; padding-top: 1em; padding-bottom: 1em;}
.LegSnippet .LegFootnote {clear: both; padding: 0em; margin-bottom: 0.5em;}
.LegSnippet .LegFootnote .ENText {clear:none; float: right; width: 95%; margin-bottom: 0em; padding-bottom: 0.5em; margin-top: 0em; padding-top: 0em;}
.LegSnippet td .LegFootnote {clear: both; margin-top: 0em; margin-bottom: 0em; padding: 0em;}
.LegSnippet .LegFootnoteRef {font-weight: bold;}
.LegSnippet .LegFootnoteNoContainer {float: left; width: 5%;}
.LegSnippet .LegFootnoteNo {font-weight: bold; font-size: 0.8em;}
.LegSnippet tfoot .LegFootnote .ENText {clear: none; float: right; width: 96%; text-align: justify; margin-bottom: 0em; padding-bottom: 0.5em; margin-top: 0em;}


/* ========== Signatures ========== */

.LegSnippet .ENSignedSection {clear: both; padding-bottom: 2em;}
.LegSnippet .ENSignatory {clear: both; padding-top: 1em;}
.LegSnippet .ENPersonName {clear: both; float: right; width: 50%; font-style: italic; margin-bottom: 0em; text-align: right;}
.LegSnippet .ENPersonName em {font-style: normal;}
.LegSnippet .ENJobTitle {clear: both; float: right; width: 50%; margin-bottom: 0em; text-align: right;}
.LegSnippet .ENDepartment {clear: both; float: right; width: 50%; margin-bottom: 0em; text-align: right;}
.LegSnippet .ENDateSigned {clear: both; width: 50%; margin-bottom: 0em; text-align: left;}
.LegSnippet .ENAddressLine {clear: both; width: 50%; margin-bottom: 0em; text-align: left;}
.LegSnippet .ENSealText {clear: both; margin-bottom: 0em;}
.LegSnippet .SignatureSpace {padding-top: 1em;}


/* ========== Decorated groups ========== */

.LegSnippet .ENDecoratedGroupLeft {border-right: solid 1px red; padding-right: 0.25em;}


/* ========== Images ========== */

.LegSnippet .ENFigureNumber {clear: both; display: block; padding-top: 1em; text-align: left; font-weight: bold;}
.LegSnippet .ENFigureTitle {clear: both; display: block; padding-top: 1em; text-align: left; font-weight: bold;}
.LegSnippet img.ENDisplayImage {clear: both;display: block; margin-top: 1em; margin-bottom: 1em; text-align: left; margin-left: auto; margin-right: auto;}
.LegSnippet .ENDisplayImageText {text-align: center; font-weight: bold; margin-top: 0em; padding-bottom: 2em;}
.LegSnippet img.ENInlineImage {display: inline;}
.LegSnippet img.ENUnicodeCharacter {display: inline; border-style: none; height: 0.7em; width: 0.7em;}


/*=============Errors ==============*/
.LegSnippet .ENError {border: 2px solid #FF0000;}


/* ========== Inline =========== */

.LegSnippet .ENSmallcaps {font-variant: small-caps;}

/* Notes within paragraphs */
.LegSnippet .ENNote { }

/* Baseline fix for sub and sup */
sup, sub { height: 0; line-height: 1; vertical-align: baseline;  _vertical-align: bottom; position: relative;}

sup { bottom: 1ex;}

sub { top: .5ex;}