/*
(c)  Crown copyright
 
You may use and re-use this code free of charge under the terms of the Open Government Licence v2.0
 
http://www.nationalarchives.gov.uk/doc/open-government-licence/version/2

*/
.LegPrelims {text-align: center; margin: auto}
.LegPrelims p {clear: none}
.LegPrelims .LegBanner {text-transform: uppercase; letter-spacing: 0.5em; font-size: 1em; margin-top: 0.5em; margin-bottom: 2em; text-align: center; margin-left: auto; margin-right: auto}
.LegPrelims .LegNo {font-size: 1.3em; margin-top: 0em; margin-bottom: 1em; padding: 0em; margin-left: auto; margin-right: auto}
.LegPrelims .LegSubject {text-transform: uppercase; font-size: 1.2em; margin-top: 0em; margin-bottom: 1em; padding: 0em; text-align: center; margin-left: auto; margin-right: auto}
.LegPrelims .LegSubsubject {text-transform: uppercase; font-size: 1em; margin-top: 0em; margin-bottom: 1em; padding: 0em; font-weight: normal; text-align: center; margin-left: auto; margin-right: auto}
.LegPrelims .LegTitle {margin-top: 2em; padding: 0em; text-align: center; margin-bottom: 2em; font-size: 1.4em; font-weight: normal; text-align: center; margin-left: auto; margin-right: auto}
.LegPrelims .LegApproved {font-style: italic}
div.LegDate {clear: both; text-align: center; width: 70%; margin: 0px auto; padding-top: 0em}
.LegPrelims .LegLaidDraft {float: left; margin-top: 0em; width: 58%; text-align: left; font-style: italic; margin-bottom: 0em; padding-bottom: 0.5em}
.LegPrelims .LegLaidDraft em {font-style: normal}
.LegPrelims .LegDateText {float: left; margin-top: 0em; width: 58%; text-align: left; font-style: italic; margin-bottom: 0em; padding-bottom: 0.5em}
.LegPrelims .LegDateText em {font-style: normal}
.LegPrelims .LegDateTextWide {float: left; margin-top: 0em; width: 100%; text-align: left; font-style: italic; margin-bottom: 0em; padding-bottom: 0.5em}
.LegPrelims .LegDateTextWide em {font-style: normal}
.LegPrelims .LegDateDate {float: right; margin-top: 0em; width: 38%; text-align: right; font-style: italic; margin-bottom: 0em}
.LegPrelims .LegDateTextClauses {float: left; margin-top: 0em; width: 58%; text-align: left; font-style: italic; padding-left: 1em; margin-bottom: 0em; padding-bottom: 0.5em}
.LegPrelims .LegDateTextClauses em {font-style: normal}
.LegPrelims .LegDateTextWideClauses {float: left; margin-top: 0em; width: 100%; text-align: left; font-style: italic; padding-left: 1em; margin-bottom: 0em; padding-bottom: 0.5em}
.LegPrelims .LegDateTextWideClauses em {font-style: normal}
.LegPrelims .LegCorrectionText {margin-top: 0em; text-align: center; font-style: italic; margin-bottom: 1em}
.LegPrelims .LegCorrectionText em {font-style: normal}
.LegPrelims .LegDraftText {margin-top: 0em; text-align: justify; font-style: italic; margin-bottom: 1em}
.LegPrelims .LegDraftText em {font-style: normal}
.LegPrelims .LegResolutionText {clear: both; margin-top: 1em; text-align: justify; font-weight: bold}
.LegPrelims .LegResolutionText strong {font-weight: normal}
.LegPrelims .LegIntroductoryText {clear: left; padding-top: 1em; text-align: justify}
div.LegEnactingText {clear: left; padding-top: 1em; text-align: justify; margin-bottom: 2em}
.LegPrelims .LegRoyalPresence {clear: left; padding-top: 1em; margin-bottom: 2em; text-align: center}

.LegPart {clear: both; padding-top: 2em} 
.LegChapter {clear: both; padding-top: 2em}

.LegPartNumber {display: block; text-align: center; font-weight: bold; font-variant: small-caps; margin-bottom: 0.25em}
.LegPartTitle {display: block; text-align: center; font-weight: normal; font-variant: small-caps; margin-bottom: 0.25em}
.LegPartNumber strong {font-weight: normal}

.LegChapterNumber {display: block; text-align: center; font-variant: small-caps; font-weight: bold; margin-bottom: 0.25em}
.LegChapterTitle {display: block; text-align: center; font-variant: small-caps; font-weight: normal; margin-bottom: 0.25em}
.LegChapterNumber strong {font-weight: normal}

.LegPblockTitle {display: block; text-align: center; font-style: italic; font-size: 1em; font-weight: normal; padding-top: 2em; margin-bottom: 1em}

.LegP1group {font-style: normal; font-weight: bold; font-size: 1em; padding-top: 1.5em; margin-bottom: 1em}
.LegP1groupTitle {float: right; text-align: justify; width: 92%; margin-bottom: 1em}
.LegSchedule .LegP1groupTitle {text-align: left; font-style: italic; font-weight: normal; font-size: 1em; padding-top: 1.5em; margin-bottom: 1em}

.LegSchedulesTitle {display: block; text-align: center; font-style: normal; font-size: 1.4em; font-weight: normal; padding-top: 2em; margin-bottom: 1em; text-transform: uppercase}
.LegScheduleNumber {display: block; text-align: center; font-style: normal; font-size: 1em; font-weight: normal; padding-top: 2em; margin-bottom: 0em; text-transform: uppercase}
.LegScheduleHeading {text-align: center; font-style: normal; font-size: 1.2em; font-weight: normal; padding-top: 1em; margin-bottom: 1em; font-variant: small-caps}
.LegScheduleTitle {display: block; text-align: center; font-style: normal; font-size: 1em; font-weight: normal; padding-top: 0em; margin-bottom: 1em}
.LegScheduleSubTitle {display: block; text-align: center; font-style: normal; font-size: 1em; font-weight: normal; padding-top: 0em; margin-bottom: 1em}


.LegP1 {clear: both}
 .LegP1No {font-weight: bold}
.LegP1paraText {text-indent: 1em}

.LegP2 {clear: both}
.LegP2paraText {text-indent: 1em}

.LegP3 {margin-left: 5%; clear: both}
.LegP3number {float: left; width: 5%; text-align: right; margin-left: -2%}
.LegP3para {float: right; width: 95%}

.LegP4 {margin-left: 5%; clear: both}
.LegP4number {float: left; width: 3%; text-align: right}
.LegP4para {float: right; width: 95%}

.LegP5 {margin-left: 5%; clear: both}
.LegP5number {float: left; width: 3%; text-align: right}
.LegP5para {float: right; width: 95%}

.LegP6 {margin-left: 5%; clear: both}
.LegP6number {float: left; width: 3%; text-align: right}
.LegP6para {float: right; width: 95%}

.LegBlockAmendment {margin-left: 10%}

